@model List<ApiProjeKampi.WebUI.Dtos.ProductDtos.ResultProductDto>

<div class="tab-content" data-aos="fade-up" data-aos-delay="200">
    <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
            <p>Speisekarte</p>
            <h3>Alle Geschmacksrichtungen</h3>
        </div>

        @{
            // Kategorilere göre grupla
            var groupedByCategory = Model.GroupBy(p => p.CategoryName);
        }

        @foreach (var categoryGroup in groupedByCategory)
        {
            <h2>@categoryGroup.Key</h2> <!-- Kategori başlığı -->

            <div class="row gy-5">
                @foreach (var item in categoryGroup)
                {
                    <div class="col-lg-4 menu-item">
                        <a href="@item.ImageUrl" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
                        <h4>@item.ProductName</h4>
                        <p class="ingredients">
                            @item.ProductDescription
                        </p>
                        <p class="price">
                            @item.Price CHF
                        </p>
                    </div>
                }
            </div>
        }
    </div><!-- End Starter Menu Content -->
</div>
